// Import Bulma's core
@import '~bulma/sass/utilities/_all';

// Set your colors
$border: #d3d8dd;
$gray: #7d7987;
$black: #4c5862;
$dark: #334d6e;

$primary: #458ff6;
$primary-invert: findColorInvert($primary);
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);

$main: $primary;
$main-invert: $primary-invert;
$main-light: $primary-light;
$main-dark: $primary-dark;

$main-light-one: #5397f5;
$main-light-one-invert: findColorInvert($main-light-one);
$main-light-one-light: findLightColor($main-light-one);
$main-light-one-dark: findDarkColor($main-light-one);

$main-light-two: #6aa4f5;
$main-light-two-invert: findColorInvert($main-light-two);
$main-light-two-light: findLightColor($main-light-two);
$main-light-two-dark: findDarkColor($main-light-two);

$main-dark-one: #334d6e;
$main-dark-one-invert: findColorInvert($main-dark-one);
$main-dark-one-light: finddarkColor($main-dark-one);
$main-dark-one-dark: findDarkColor($main-dark-one);

$main-dark-two: #24364e;
$main-dark-two-invert: findColorInvert($main-dark-two);
$main-dark-two-light: finddarkColor($main-dark-two);
$main-dark-two-dark: findDarkColor($main-dark-two);

$link: $main-light-one;
$link-invert: $main-light-one-invert;
$link-light: $main-light-one-light;
$link-dark: $main-light-one-dark;

$info: $main-dark-one;
$info-invert: $main-dark-one-invert;
$info-light: $main-dark-one-light;
$info-dark: $main-dark-one-dark;

$success: #2ed47a;
$success-invert: $white;
$success-light: findLightColor($success);
$success-dark: findDarkColor($success);

$warning: #ffb946;
$warning-invert: $black;
$warning-light: findLightColor($warning);
$warning-dark: findDarkColor($warning);

$danger: #ff3c5f;
$danger-invert: findColorInvert($danger);
$danger-light: findLightColor($danger);
$danger-dark: findDarkColor($danger);

$colors: mergeColorMaps(
	(
		'white': (
			$white,
			$black,
		),
		'black': (
			$black,
			$white,
		),
		'light': (
			$light,
			$light-invert,
		),
		'dark': (
			$dark,
			$dark-invert,
		),
		'gray': (
			$gray,
			$gray,
		),
		'primary': (
			$primary,
			$primary-invert,
			$primary-light,
			$primary-dark,
		),
		'main': (
			$main,
			$main-invert,
			$main-light,
			$main-dark,
		),
		'main-light-one': (
			$main-light-one,
			$main-light-one-invert,
			$main-light-one-light,
			$main-light-one-dark,
		),
		'main-light-two': (
			$main-light-two,
			$main-light-two-invert,
			$main-light-two-light,
			$main-light-two-dark,
		),
		'main-dark-one': (
			$main-dark-one,
			$main-dark-one-invert,
			$main-dark-one-light,
			$main-dark-one-dark,
		),
		'main-dark-two': (
			$main-dark-two,
			$main-dark-two-invert,
			$main-dark-two-light,
			$main-dark-two-dark,
		),
		'link': (
			$link,
			$link-invert,
			$link-light,
			$link-dark,
		),
		'info': (
			$info,
			$info-invert,
			$info-light,
			$info-dark,
		),
		'success': (
			$success,
			$success-invert,
			$success-light,
			$success-dark,
		),
		'warning': (
			$warning,
			$warning-invert,
			$warning-light,
			$warning-dark,
		),
		'danger': (
			$danger,
			$danger-invert,
			$danger-light,
			$danger-dark,
			image1,
		),
	),
	$custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$font-family: 'Poppins';

$sidebar-width: 100%;
$sidebar-mobile-width: 80px;
$sidebar-mobile-breakpoint: $desktop;
